.wp-admin {
    .notice {
        &.update-nag {
            display: none;
        }
    }
    
    #message {
        &.updated {
            &.woocommerce-message {
                display: none !important;
            }
        }
    }
    
    /* Admin menu navigation */
    #adminmenu {
        /* Menu sub-title */
        .ame-unclickable-menu-item {
            .wp-menu-name {
                color: #67A4E2;
                text-transform: uppercase;
            }
        }

        #menu-plugins {
            display: none !important;
        }

        li:has(a[href="update-core.php"]) {
            display: none !important;
        }
        
        .update-plugins {
            display: none !important;
        }
    }
    /* Plugins page */
    &.plugins-php {
        /* Body content container */
        #wpbody-content {
            .subsubsub {
                display: none;
            }
            /* Hide inactive plugins */
            table.plugins {
                tr.inactive {
                    // display: none;
                }

                tr.plugin-update-tr {
                    // display: none;
                }
            }

            .tablenav {
                &.bottom,
                &.top {
                    .tablenav-pages {
                        .displaying-num {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .wp-menu-name {
        .update-plugins {
            display: none !important;
        }
    }
}

#wp-admin-bar-updates {
    display: none !important;
}