body,
html {
    height: 100%;
    background-color: $white;
}

* {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    // letter-spacing: -0.16px;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.02em;
}

p {
    strong {
        font-weight: 750;
    }
}

a {
    color: $black;

    &:hover {
        color: $green;
    }
}

.btn-link {
    color: $black;

    &:hover {
        color: $green;
        box-shadow: 0;
    }

    &:focus {
        color: $green;
        box-shadow: 0;
    }
}

.login-screen {
    section {
        height: 100%;
    }

    .login-screen-left {
        background-color: $dark-green;
        background: linear-gradient(rgba($dark-green, 0), rgba($dark-green, 1)), url("../../img/header/header-image-3.png");
        background-size: cover;
        background-position: left 30% center;
        background-repeat: no-repeat;

        .login-screen-left-content {
            position: absolute;
            bottom: 0;
            text-shadow: 0 0 10px rgba($deep-black, 0.25);
            padding-bottom: 50px;
            padding-left: 40px;

            h2 {
                color: $white;
                font-size: 25px;
                font-weight: bold;

                span {
                    color: $green;
                    font-size: 25px;
                }
            }

            p {
                color: rgba($white, 0.6);
                font-size: 12px;
            }
        }
    }

    .login-screen-right {
        h1 {
            font-size: 35px;
        }

        .form,
        .form-signin {
            input {
                &.form-control {
                    font-size: 18px;
                    padding: 25px;
                    border: 1px solid rgba($gray, 0.4);
                    border-radius: 4px;

                    &:hover {
                        background-color: rgba($gray, 0.03);
                        box-shadow: none;
                    }

                    &:focus {
                        background-color: rgba($gray, 0.1);
                        box-shadow: none;
                    }
                }
            }

            .btn-main {
                // border-radius: 4px;
                font-size: 18px;
            }
        }

        .form-signin {
            input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            input[type="password"] {
                margin-bottom: -1px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }

    footer {
        .copyright {
            font-size: 12px;
            color: $gray;
        }
    }
}

.btn-main {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    padding: 0 35px;
    border: 0;
    border-radius: 21px;
    background-color: $green;
    font-size: 15px;
    color: $white;
    border: none;
    /* background-image: url("../img/icons/cart-white.svg");
    background-position: center center;
    background-repeat: no-repeat */
    cursor: pointer;
    @include transition(box-shadow 300ms ease, background-color 300ms ease);

    &:hover {
        border: none;
        color: $white;
        background-color: $light-green;
        background-size: auto 22px;
        box-shadow: 5px 5px 20px 0 rgba($light-green, 0.35);
    }

    &:focus {
        box-shadow: none !important;
        border: none;
    }
}