.woocommerce-cart-form {
    width: 100%;
    display: block;

    .woocommerce-cart-form__cart-item {
        .attachment-woocommerce_thumbnail, .woocommerce-placeholder {
            width: 80px !important;
            height: auto !important;
            border-radius: 4px;
        }

        .variation {
            dt.variation-latinname {
                display: none;
            }
        }
    }
}

.cart-collaterals {
    width: 100%;
    display: block;
}

.return-to-shop {
    width: 100%;
    display: block;
}

.cart-empty {
    width: 100%;
    display: block;
}

.cart_item {
    .variation {
        dt.variation-latinname {
            display: none;
        }
    }
}