.woocommerce-checkout {
    .woocommerce-checkout-payment {
        background: rgba($gray, 0.07) !important;

        .payment_box {
            background-color: rgba($gray, 0.15) !important;
            border-radius: 4px;

            p {
                border-radius: 4px;
            }

            &::before {
                border-bottom-color: rgba($gray, 0.15) !important;
            }
        }
    }

    .col2-set {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-1,
    .col-2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
// XS
@media (max-width: 575.98px) {
    .woocommerce-checkout {
        .col-1,
        .col-2 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
// MD
@media (min-width: 576px) and (max-width: 767.98px) {
    .woocommerce-checkout {
        .col-1,
        .col-2 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}