.button {
    @include button();
}

.woocommerce-input-wrapper {
    width: 100% !important;
}

.input-text {
    border-radius: 4px !important;
    padding: 10px !important;
    border: 2px solid rgba($gray, 0.25) !important;
    width: 100% !important;

    &:hover {
        border: 2px solid rgba($gray, 0.45) !important;
    }

    &:focus {
        border: 2px solid rgba($green, 1) !important;
    }
}

label {
    width: 100% !important;
}

abbr.required {
    color: $red !important;
}

.woocommerce-invalid-required-field {
    label {
        color: $red !important;
    }

    input {
        border-color: $red !important;
    }
}

.woocommerce-form-login-toggle {
    width: 100% !important;
}