.col2-set {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    h2 {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
}
// XS, SM
@media (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) {
    .col-1,
    .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col2-set {
        margin-right: 0;
        margin-left: 0;
    }
}