#customer_login {}
// Login / Register

.woocommerce-form-login,
.woocommerce-form-register {
    border: 1px solid rgba($gray, 0.25) !important;
    background-color: $white;
    //@include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);
    @include transition(background-color 0.3s ease, box-shadow 0.5s ease);
    position: relative;
    z-index: 15;

    &:hover {
        border: 1px solid rgba($gray, 0.05) !important;
        background-color: $white;
        box-shadow: 0 0 15px rgba($black, 0.2);
        //@include transform(scale(1.03));
        z-index: 16;
    }
}