@mixin button() {
    height: 45px !important;
    line-height: 45px !important;
    vertical-align: middle !important;
    padding: 0 35px !important;
    border: 0 !important;
    border-radius: 21px !important;
    background-color: $green !important;
    font-size: 15px !important;
    color: $white !important;
    border: none !important;
    font-weight: lighter !important;
    cursor: pointer !important;
    display: block;
    text-align: center !important;
    min-width: 100px !important;
    @include transition(box-shadow 300ms ease, background-color 300ms ease);

    &:hover {
        border: none !important;
        color: $white !important;
        background-color: $light-green !important;
        background-size: auto 22px !important;
        box-shadow: 5px 5px 20px 0 rgba($light-green, 0.35) !important;
        text-decoration: none;
    }

    &:focus {
        box-shadow: none !important;
        border: none !important;
    }
}