.custom-my-account-page {
    display: flex;
}

// XS, SM
@media (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) {
    .custom-my-account-page {
        display: block;
    }
}

.woocommerce-MyAccount-navigation {
    padding-right: 30px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: rgba($gray, 0.07);
        border-radius: 4px;

        li {
            padding: 0;
            margin: 0;
            display: flex;

            a {
                padding: 15px;
            }
        }
    }
}

.woocommerce-MyAccount-content {
    fieldset {
        margin-top: 50px;
    }

    a {
        color: $dark-green2;

        &:hover {
            color: $green;
        }
    }

    .woocommerce-Address-title {
        a {
            @include button();
        }
    }
}