.woocommerce-notices-wrapper {}

.woocommerce-info {
    border-top-color: $green;
    background-color: rgba($green, 0.15);
    border-radius: 4px;

    &::before {
        color: $green;
    }
}

.woocommerce-message {
    border-top-color: $green;
    background-color: rgba($green, 0.15);
    border-radius: 4px;

    &::before {
        color: $green;
    }
}

.woocommerce-error {
    border-top-color: $red;
    background-color: rgba($red, 0.15);
    border-radius: 4px;

    &::before {
        color: $red;
    }
}

.woocommerce-invalid {}