.woocommerce-pagination {
    ul {
        li {
            border: none !important;
        }
    }

    .page-numbers {
        font-size: 22px !important;
        color: $dark-green;
        padding: 5px;
        border: none !important;
        background: none;

        &:hover {
            color: $green;
            text-decoration: none;
            background: none;
        }

        &.dots {
            color: $gray;
        }

        &.current {
            color: $green !important;
            background: none;
        }
    }
}