.single-product {
    //display: flex;
    div.product {
        .onsale {
            width: 80px;
            height: 80px;
            background-color: $red;
            position: absolute;
        }

        .meta-latin {
            color: $gray;
            font-size: 18px;
            font-style: italic;
        }

        .meta-markused-ja-lisainfo {
            color: $gray;
            font-size: 16px;
        }

        .summary {
            .price {
                del {
                    color: $gray;
                    font-size: 30px;
                    padding-right: 10px;

                    * {
                        font-size: 30px;
                        color: $gray;
                    }
                }

                bdi,
                ins {
                    color: $green;
                    font-size: 38px;
                    text-decoration: none;

                    * {
                        font-size: 38px;
                        color: $green;
                    }
                }
            }

            .stock {
                width: auto;
                min-width: 0;
                display: table;
                border-radius: 21px;
                background-color: rgba($gray, 0.07);
                font-size: 18px;
                color: $green;
                padding: 7px 20px;

                &.instock {
                    color: $green !important;
                }

                &.out-of-stock {
                    color: $red !important;
                }
            }

            .product_meta {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 2px solid rgba($gray, 0.15);
                color: $black;

                .posted_in,
                .sku_wrapper,
                .tagged_as {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    display: block;
                    width: 100%;
                    font-weight: bold;

                    * {
                        color: $gray;
                        font-weight: normal;
                    }
                }

                .sku_wrapper {
                    .sku {
                        border-radius: 21px;
                        background-color: rgba($gray, 0.07);
                        color: $green;
                        padding: 7px 20px;
                    }
                }
            }
        }

        .woocommerce-product-gallery {
            .woocommerce-product-gallery__trigger {
                background-color: $green;
                color: $white;
                @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);

                &::before {
                    border-color: $white;
                }

                &::after {
                    background-color: $white;
                }

                &:hover {
                    background-color: $light-green;
                    @include transform(scale(1.10));
                }
            }

            .flex-viewport {}

            .woocommerce-product-gallery__wrapper {
                .woocommerce-product-gallery__image {
                    img {
                        border-radius: 4px !important;
                    }
                }
            }

            .flex-control-nav {
                border-radius: 4px;

                &.flex-control-thumbs {
                    margin-top: 20px;
                }
            }
        }

        .woocommerce-tabs {
            ul.wc-tabs {
                li {
                    &.active {}

                    &::after,
                    &::before {}
                }
            }
        }

        .related {
            &.products {}
        }
    }
}

.species-link {
    width: 100%;
    padding-bottom: 7px;

    a {
        color: $green;
    }
}