ul.products {
    li.product {
        text-align: center;

        .meta-latin {
            color: $gray;
            font-style: italic;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
        }

        a.woocommerce-loop-product__link {
            text-align: center;

            span.onsale {}

            img.attachment-woocommerce_thumbnail {
                border-radius: 4px;
            }

            div.label-wrap {
                span.product-label {
                    padding: 0;
                    border-radius: 0;
                    width: auto;
                    background: none;
                    float: left;
                    padding-left: 10px;
                    padding-right: 0;

                    img.product-tag {
                        width: auto;
                        height: 15px;
                    }
                }
            }

            h2.woocommerce-loop-product__title {
                font-size: 17px;
                font-weight: bold;
                line-height: 20px;
                color: $dark-green;
                padding-left: 10px;
                padding-right: 10px;
            }

            span.price {
                del {
                    color: $gray;
                    font-size: 23px;
                    padding-right: 10px;

                    * {
                        font-size: 23px;
                        color: $gray;
                    }
                }

                bdi,
                ins {
                    color: $green;
                    font-size: 23px;
                    text-decoration: none;

                    * {
                        font-size: 23px;
                        color: $green;
                    }
                }
            }
        }

        a.add_to_cart_button {
            margin: 10px;
            width: auto;
            text-align: center;
        }
        border-radius: 4px;
        background-color: rgba($white, 0.4);
        @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);
        position: relative;
        z-index: 15;

        &:hover {
            background-color: $white;
            box-shadow: 0 0 15px rgba($black, 0.2);
            @include transform(scale(1.03));
            z-index: 16;
        }
    }
}