.sidebar.custom-woocommerce-products-sidebar {
    h2 {
        font-size: 28px;
    }

    ul.product-categories {
        list-style: none;
        padding: 0;
        margin: 0;

        li.cat-item {
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: rgba($gray, 0.07);
            padding: 9px 20px;
            margin-bottom: 6px;
            border-radius: 4px;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-flow: wrap;

            &:nth-child(1) {
                flex-shrink: 0;
                flex-grow: 1;
            }

            span {
                color: rgba($gray, 0.7);
            }

            &.current-cat,
            &.current-cat-parent {
                background-color: rgba($gray, 0.07);

                a {
                    color: $green;
                }

                span {
                    color: rgba($green, 0.5);
                }
            }

            &.cat-item-15, // ee
            &.cat-item-78, // ru
            &.cat-item-81 { // en
                display: none !important;
            }
        }
    }

    ul.children {
        width: 100%;
        align-items: stretch;
        margin-top: 12px;

        li.cat-item {
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: rgba($gray, 0.07);
            padding: 9px 20px;
            margin-bottom: 6px;
            border-radius: 4px;
            width: 100%;
            color: $black !important;
            flex-shrink: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-flow: nowrap;

            a {
                color: $black !important;
            }

            span {
                color: rgba($gray, 0.7) !important;
            }

            &.current-cat {
                background-color: rgba($gray, 0.10);
                color: $green !important;

                a {
                    color: $green !important;
                }

                span {
                    color: rgba($green, 0.5) !important;
                }
            }
        }
    }
}