@import 'mixins';
@import 'sidebar_product_categories';

.woocommerce {
    &:after,
    &:before {
        display: table !important;
        content: " " !important;
        clear: both !important;
    }
    //display: flex;
    @import 'grid';
    @import 'form';
    @import 'notices';
    @import 'checkout';
    @import 'login';
    @import 'my_account';
    @import 'cart';
    @import 'product';
    @import 'products';
    @import 'input_select';
    @import 'pagination';
}
@import 'lightbox'; // Display columns-4 as columns-3

.section-right {
    @media screen and (min-width:981px) {
        .woocommerce ul.products li.product {
            width: 30% !important;
            margin: 1.5% !important;
            clear: none !important;
        }

        .woocommerce ul.products li.product:nth-child(3n+1) {
            clear: both !important;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 980px) {
        .woocommerce ul.products li.product {
            width: 47% !important;
            margin: 1.5% !important;
            clear: none !important;
        }

        .woocommerce ul.products li.product:nth-child(2n+1) {
            clear: both !important;
        }
    }
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
        .woocommerce ul.products li.product.first,
        .woocommerce ul.products li.product.last {
            clear: right !important;
        }

        .woocommerce ul.products li.product:nth-child(3n+1) {
            clear: none !important;
        }
    }
}