.container-xs {
    width: calc(100% - calc(2 * 32px));
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.border-green {
    border-color: $green !important;
}

.border-width-1 {
    @include border-width(1px);
}

.border-width-2 {
    @include border-width(2px);
}

.flex-fixed-width-item {
    flex: 0 0 100px;
}