.d,
.d-red,
.debug,
.debug-red {
    @include debug(red);
}

.d-green,
.debug-green {
    @include debug(green);
}

.d-blue,
.debug-blue {
    @include debug(blue);
}

.d-purple,
.debug-purple {
    @include debug(purple);
}

.d-orange,
.debug-orange {
    @include debug(orange);
}