/*
<span class="expand-button green ml-auto">
    <i></i>
    <i></i>
</span>
*/
.accordion {
    a[aria-expanded="true"] {
        .expand-button {
            i {
                @include transform(rotate(90deg));

                &:last-child {
                    left: 50%;
                    right: 50%;
                }
            }
        }
    }
}

.expand-button {
    background: none;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;

    &.black i {
        background: $black;
    }

    &.white i {
        background: $white;
    }

    &.gray i {
        background: $gray;
    }

    &.green i {
        background: $green;
    }

    i {
        position: absolute;
        @include transition(300ms);
        background: $gray;
        border-radius: 2px;
        /* Create the "+" shape by positioning the spans absolutely */
        &:first-child {
            top: 25%;
            bottom: 25%;
            width: 10%;
            left: 45%;
        }

        &:last-child {
            left: 25%;
            right: 25%;
            height: 10%;
            top: 45%;
        }
    }

    &.show {
        i {
            @include transform(rotate(90deg));

            &:last-child {
                left: 50%;
                right: 50%;
            }
        }
    }
    /* Morph the shape when the button is hovered over */
    &.hover {
        &:hover {
            i {
                @include transform(rotate(90deg));

                &:last-child {
                    left: 50%;
                    right: 50%;
                }
            }
        }
    }
}