.faqs {
    .faq {
        background-color: rgba($gray, 0.07);
        border-radius: 4px;

        .faq-header {
            //background-color: rgba($gray, 0.15);
            background-color: $white;
            border-radius: 4px;
            border: 1px solid rgba($gray, 0.25);

            h2 {}

            a {
                color: $black;
                border: 0;
                font-size: 19px;
                line-height: normal;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    outline: none;
                }
                
                .expand-button {
                    width: 30px !important;
                }
            }

            a[aria-expanded="true"] {
                background-color: rgba($gray, 0.15);
            }

            &:hover {
                background-color: rgba($gray, 0.05);
            }
        }

        .faq-body {}
    }
}