.header-search-bar {
    .header-search-bar-input {
        width: 540px;
        height: 45px;
        border: 0;
        border-radius: 21px 0 0 21px;
        background-color: $light-gray;
        padding-left: 25px;
        font-size: 15px;
        color: $dark-gray !important;
        border: 1px solid $light-gray;
        transition: ease-in-out, border 0.35s ease-in-out;

        &:hover {
            box-shadow: none !important;
            border: 1px solid rgba($gray, 0.2);
        }

        &:focus {
            box-shadow: none !important;
            border: 1px solid rgba($gray, 0.2);
        }
    }

    .header-search-bar-btn {
        width: 61px;
        height: 45px;
        border: 0;
        border-radius: 0 21px 21px 0;
        background-color: $light-gray;
        font-size: 15px;
        color: $dark-gray !important;
        border: none;
        background-image: url("../img/icons/search-button.svg");
        background-position: center center;
        background-repeat: no-repeat;
        border-left: none;
        cursor: pointer;

        &:hover {
            box-shadow: none !important;
            border: none;
            background-size: auto 22px;
        }

        &:focus {
            box-shadow: none !important;
            border: none;
        }

        &[aria-expanded="true"] {
            opacity: 0.2;
        }
    }

    &.header-mobile-search-bar {
        .header-search-bar-input {
            width: auto;
        }
    }
}