.main-menu-modal {
    .modal-content {
        border-radius: 0;
        border: none;
        padding: 0 !important;
    }

    .modal-header {
        .modal-title {
            display: none;
        }

        .navbar-brand {
            img {
                height: 40px;
            }
        }

        .hamburger {
            &.green {
                i {
                    background-color: $green;
                }
            }
        }
    }

    .modal-body {
        background-color: $white;
        padding-bottom: 100px;

        .main-menu {
            a {
                font-size: 20px;
            }

            a[aria-expanded="true"] {
                color: $green;
            }

            .main-menu-submenu {
                list-style: none;
                padding: 0;
                margin: 0;
                padding-left: 35px;
                padding-bottom: 15px;

                li {
                    padding-top: 7px;
                    padding-bottom: 7px;

                    img {
                        width: 25px;
                        margin-right: 15px;
                    }

                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}