/* Main */
body,
html {
    background-color: $white;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $black;
    // letter-spacing: -0.16px;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.02em;
}

p {
    strong {
        font-weight: 750;
    }
    line-height: 1.7;
}

a {
    color: $black;

    &:hover {
        color: $green;
    }
}

header {
    .header-bar {
        background-color: $white;

        .info-bar {
            height: 35px;
            border-bottom: 1px solid $header-line-color;

            .info-bar-icons {
                list-style: none;
                padding: 0;
                margin: 0;

                .info-bar-icon-clock,
                .info-bar-icon-email,
                .info-bar-icon-phone {
                    padding: 0;
                    margin: 0;
                    float: left;
                    font-size: 13px;
                    color: $black;
                    padding-left: 25px;
                    padding-right: 15px;
                    background-position: left center;
                    background-repeat: no-repeat;

                    * {
                        font-size: 13px;
                    }

                    span {
                        color: $gray;
                    }

                    a {
                        color: $black;

                        &:hover {
                            color: $green;
                        }
                    }
                }

                .info-bar-icon-clock {
                    background-image: url("../img/icons/clock.svg");
                }

                .info-bar-icon-email {
                    background-image: url("../img/icons/email.svg");
                }

                .info-bar-icon-phone {
                    background-image: url("../img/icons/phone.svg");
                }
            }

            .lang-menu {
                .dropdown-toggle {
                    color: $gray;

                    &:focus,
                    &:hover {
                        text-decoration: none;
                        color: $green;
                        outline: inherit;
                    }

                    &::after {
                        margin-left: 0.1em;
                        vertical-align: middle;
                    }
                }

                .dropdown-menu {
                    padding: 0;
                    min-width: inherit;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    border: 0;
                    box-shadow: 0 0 6px rgba($black, 0.35);
                    @include transform(translateY(20px));
                    @include transition(0.5s ease all);

                    .dropdown-item {
                        img {
                            margin-right: 10px;
                        }
                    }
                }

                .dropdown-menu.show {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    @include transform(translateY(0px));
                    @include transition(0.5s ease all);
                }

                img {
                    width: 18px;
                    box-shadow: 0 0 4px rgba($black, 0.30);
                }
            }
        }

        .main-bar {
            height: 96px;

            .navbar-brand {
                img {
                    height: 60px;
                }
            }

            .header-cart-bar {
                .header-cart-btn {
                    min-width: 61px;
                    height: 45px;
                    line-height: 45px;
                    vertical-align: middle;
                    border: 0;
                    border-radius: 21px;
                    background-color: $green;
                    font-size: 15px;
                    color: $white;
                    border: none;
                    background-image: url("../img/icons/cart-white.svg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-left: none;
                    cursor: pointer;
                    @include transition(box-shadow 300ms ease, background-color 300ms ease);

                    &:hover {
                        border: none;
                        background-color: $light-green;
                        background-size: auto 22px;
                        box-shadow: 5px 5px 20px 0 rgba($light-green, 0.35);
                    }

                    &:focus {
                        box-shadow: none !important;
                        border: none;
                    }
                }

                .header-cart-full-btn {
                    padding-left: 52px;
                    padding-right: 10px;
                    background-position: 18px center;
                    white-space: nowrap;

                    span {
                        color: $white;
                    }

                    .sum {
                        white-space: nowrap;
                        padding-right: 7px;
                        font-weight: lighter;

                        .currency {
                            white-space: nowrap;
                            font-weight: lighter;
                        }
                    }

                    .quantity {
                        background-color: rgba($dark-green, 0.5);
                        padding: 3px 12px;
                        line-height: normal;
                        border-radius: 20px;
                    }
                }
            }
        }

        .header-menu-bar {
            height: 60px;
            background-color: $dark-green;
            color: $white;
            padding-top: 0;
            padding-bottom: 0;

            * {
                color: $white;
            }

            .navbar {
                padding-left: 0;
            }

            .header-menu {
                height: 60px;

                .nav-link {
                    height: 60px;
                    line-height: 60px;
                    vertical-align: middle;
                    padding-top: 0;
                    padding-bottom: 0;

                    &.active {
                        background-color: $dark-green2;
                    }

                    &:hover {
                        background-color: rgba($dark-green2, 0.5) !important;
                    }
                }
            }

            .login-menu {
                padding-left: 35px;
                background-image: url("../img/icons/login-white.svg");
                background-repeat: no-repeat;
                background-position: left center;

                span {
                    &.login-menu-separator {
                        padding-left: 8px;
                        padding-right: 8px;
                        color: $green;
                    }
                }
            }
        }
    }

    .header-image-bar {
        // margin-top: calc(35px + 96px + 60px) !important;
        height: 500px;
        background-color: $light-gray;

        .carousel {
            .carousel-indicators {
                bottom: 65px;
            }

            .carousel-inner {
                .carousel-item {
                    img {
                        width: auto;
                        height: 500px;
                        object-fit: cover;
                        object-position: 100% 0;

                        &.slide-3 {
                            object-position: 50% 35%;
                        }
                    }

                    .carousel-caption {
                        top: 44%;
                        transform: translateY(-50%);
                        bottom: initial;

                        .carousel-caption-content {
                            width: 45%;

                            h1,h5 {
                                font-size: 45px;
                                color: $white;
                                line-height: 120%;
                                text-shadow: 0 0 8px rgba($deep-black, 0.65);
                            }

                            p {
                                padding-top: 15px;
                                padding-bottom: 15px;
                                font-size: 16px;
                                color: $white;
                                text-shadow: 0 0 8px rgba($deep-black, 0.65);
                            }

                            .btn {
                                height: 45px;
                                line-height: 45px;
                                vertical-align: middle;
                                border: 0;
                                margin: 0;
                                padding: 0 25px 0 30px;
                                background-color: $green;
                                font-size: 16px;
                                color: $white;
                                border-radius: 8px;
                                box-shadow: 0 0 6px rgba($deep-black, 0.30);

                                &:hover {
                                    background-color: $light-green;
                                }

                                &:focus {}
                            }
                        }
                    }
                }
            }

            .carousel-control-prev {
                width: 10%;

                .carousel-control-prev-icon {
                    width: 20px;
                    height: 28px;
                    background-size: cover;
                    background-size: 20px 28px;
                    background-image: url("../img/icons/header-image-arrow-left.svg");
                }
            }

            .carousel-control-next {
                width: 10%;

                .carousel-control-next-icon {
                    width: 20px;
                    height: 28px;
                    background-size: cover;
                    background-size: 20px 28px;
                    background-image: url("../img/icons/header-image-arrow-right.svg");
                }
            }
        }
    }
}

main {
    section {
        .error_400 {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 100px;
            color: $black;
            // Animation: shake
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
            @include transform(translate3d(0, 0, 0));
            backface-visibility: hidden;
            perspective: 1000px;
        }

        &.section-overlap {
            position: relative;
            margin-top: -70px;
            padding-top: 50px;
        }

        &.section-overlap-bg {
            background-color: $white;
            padding-left: 0;
            padding-right: 0;
            border-radius: 4px 4px 0 0;
            z-index: 1;
            //box-shadow: rgba($black, 1) 0 -25px 25px -30px, rgba($black, 0.7) 0 -100px 25px -50px;
            &::after {
                border-radius: 4px 4px 300px 300px;
                box-shadow: 0 0 25px rgba($black, 0.15);
                content: '';
                display: block;
                height: 450px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }
        }

        .section-overlap-bg-inner {
            background-color: $white;
        }
    }

    &.first-page-content {
        section {
            padding-top: 70px;
            padding-bottom: 65px;

            &.section-with-bg {
                background-color: $light-gray;
            }

            &.section-overlap {
                padding-top: 50px;
            }

            h1, h2 {
                font-size: 28px;
                text-transform: uppercase;
                color: $black;
                text-align: center;
                letter-spacing: -0.28px;
                margin-bottom: 60px;
                // margin-bottom: 12px;
                &:after {
                    display: block;
                    width: 50px;
                    height: 6px;
                    position: absolute;
                    margin-top: 6px;
                    left: calc(50% - 25px);
                    border-radius: 6px;
                    content: ' ';
                    background: $green;
                }
            }

            h3 {
                font-size: 24px;
                margin-top: 35px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                text-align: justify;
            }

            &.section-about {
                z-index: 15;
                padding: 0;
                box-shadow: 0 0 15px rgba($black, 0.15);
                border-radius: 4px;
                //background-color: $white;
                .section-about-item {
                    padding-top: 32px;
                    padding-bottom: 35px;
                    background-color: $white;
                    z-index: 16;
                    @include transition(transform 0.15s);

                    &.rounded-right {
                        border-radius: 0 0 4px 0;
                    }

                    &.rounded-left {
                        border-radius: 4px 0 0 0;
                    }

                    &:hover {
                        @include transform(scale(1.03));
                        z-index: 17;
                        border: 0 !important;
                        box-shadow: 0 0 15px rgba($black, 0.15);
                        border-radius: 4px;
                    }

                    &.section-about-item-border {
                        border-left: 1px solid rgba($gray, 0.2);
                        border-right: 1px solid rgba($gray, 0.2);
                    }

                    .section-about-item-img {
                        height: 83px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .section-about-item-title {
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: -0.2px;
                        line-height: 26px;
                        margin-top: 36px;
                    }

                    .section-about-item-text {
                        padding-top: 30px;
                        padding-bottom: 35px;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
    }

    &.page-content {
        section {
            //padding-top: 70px;
            padding-top: 45px;
            padding-bottom: 65px;

            &.section-with-bg {
                background-color: $light-gray;
            }

            .h1,
            h1 {
                font-size: 28px;
                text-transform: uppercase;
                color: $black;
                text-align: center;
                letter-spacing: -0.28px;
                margin-bottom: 40px;
                // margin-bottom: 12px;
                &:after {
                    display: block;
                    width: 50px;
                    height: 6px;
                    position: absolute;
                    margin-top: 6px;
                    left: calc(50% - 25px);
                    border-radius: 6px;
                    content: ' ';
                    background: $green;
                }

                span {
                    color: $green;
                    font-size: 28px;
                    letter-spacing: -0.28px;
                }
            }

            .h2,
            h2 {
                font-size: 26px;
                margin-top: 35px;
                margin-bottom: 20px;
                min-width: 100%;
                display: inline-block;
            }

            h3,
            h3 a {
                font-size: 22px;
                margin-top: 20px;
                margin-bottom: 15px;
                color: $black;
            }

            p {
                font-size: 16px;
                color: $dark-gray;
                // text-align: justify;
                img {
                    border-radius: 4px;
                    @include img-fluid;

                    &.alignleft {
                        float: left !important;
                        margin: 10px 20px 20px 0 !important;
                    }

                    &.alignright {
                        float: right !important;
                        margin: 10px 0 20px 20px !important;
                    }
                }
            }
        }
    }

    .btn-section {
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        padding: 0 35px;
        border: 0;
        border-radius: 21px;
        background-color: $green;
        font-size: 15px;
        color: $white;
        border: none;
        /* background-image: url("../img/icons/cart-white.svg");
        background-position: center center;
        background-repeat: no-repeat */
        cursor: pointer;
        @include transition(box-shadow 300ms ease, background-color 300ms ease);

        &:hover {
            border: none;
            color: $white;
            background-color: $light-green;
            background-size: auto 22px;
            box-shadow: 5px 5px 20px 0 rgba($light-green, 0.35);
        }

        &:focus {
            box-shadow: none !important;
            border: none;
        }
    }
}

.section-breadcrumb {
    .woocommerce-breadcrumb {
        * {
            //font-size: 11px;
        }
    }

    .btn-section-breadcrumb {
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        padding: 0 22px;
        border: 0;
        border-radius: 21px;
        background-color: $green;
        font-size: 20px;
        color: $white;
        border: none;
        /* background-image: url("../img/icons/cart-white.svg");
        background-position: center center;
        background-repeat: no-repeat */
        cursor: pointer;
        @include transition(box-shadow 300ms ease, background-color 300ms ease);

        &:hover {
            border: none;
            color: $white;
            background-color: $light-green;
            background-size: auto 22px;
            box-shadow: 5px 5px 20px 0 rgba($light-green, 0.35);
        }

        &:focus {
            box-shadow: none !important;
            border: none;
        }
    }
}

footer {
    background-color: $dark-green;
    padding-bottom: 15px;
    background-image: url("../img/background/footer-bottom.svg");
    background-position: 35% 121%;
    background-repeat: no-repeat;

    h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.2px;
        padding-bottom: 20px;
        line-height: normal;
    }

    * {
        color: $white;
        font-size: 15px;
    }

    .footer-top {
        padding-top: 50px;
        padding-bottom: 35px;
        background-image: url("../img/background/footer-top.svg");
        background-position: 0 bottom;
        background-repeat: no-repeat;

        .footer-company {
            text-align: justify;

            p {
                line-height: 30px;
            }
        }

        .footer-contacts,
        .footer-menu {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 0;
                    margin: 0;
                    padding-bottom: 12px;
                    line-height: normal;

                    img {
                        margin-right: 13px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding-top: 19px;
        padding-bottom: 19px;
        border-bottom: 1px solid $footer-line-color;
        border-top: 1px solid $footer-line-color;

        .social-media-menu {
            .nav-link {
                @include transition(transform 0.15s);

                &:hover {
                    @include transform(scale(1.4));
                }
            }
        }

        .copyright {
            font-size: 11px;

            span {
                font-size: 11px;
                padding-left: 18px;
                padding-right: 18px;
                color: $green;
            }

            a {
                font-size: 11px;
                color: $green;
            }
        }

        .tulevikulabor {
            height: 14px;
            margin-top: -10px;
            
            img {
                height: 14px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}