// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        .header-bar {
            .main-bar {
                .header-search-bar {
                    .header-search-bar-input {
                        width: 240px;
                    }
                }
            }
        }

        .header-image-bar {
            height: 400px;

            .carousel {
                .carousel-indicators {
                    bottom: 15px;
                }

                .carousel-inner {
                    .carousel-item {
                        img {
                            width: auto;
                            height: 400px;
                        }

                        .carousel-caption {
                            width: 100%;

                            .carousel-caption-content {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            &.section-overlap {
                margin-top: -20px;
                padding-top: 50px;
            }
        }

        &.first-page-content {
            section {
                &.section-about {
                    position: relative;
                    margin-top: -20px;
                }
            }
        }

        .single-spiece-img {
            width: 100%;
            max-width: none;
            margin-bottom: 25px;
        }
    }
}