// Mixins
@mixin transition($property...) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}
@mixin transform($property...) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
}
@mixin debug($property...) {
    border: 1px solid $property;
}
@mixin clearfix() {
    &::after {
        display: block !important;
        content: "";
        clear: both !important;
    }
}
@mixin img-fluid() {
    max-width: 100% !important;
    height: auto !important;
}
@mixin border-width($width) {
    border-width: $width !important;
}