.modal {
    .modal-header {
        border-radius: 0;
    }
    // Right or left
    &.left,
    &.right {
        .modal-dialog {
            position: fixed;
            margin: auto;
            width: 300px;
            height: 100vh;
            @include transform(translate3d(0%, 0, 0));
        }
    }

    &.left {
        .modal-dialog {
            left: 0;
        }
    }

    &.right {
        .modal-dialog {
            right: 0;
        }
    }
    // Fade in left
    &.left {
        &.fade {
            .modal-dialog {
                left: -300px;
                @include transition(opacity 0.3s linear, left 0.3s ease-out);
            }

            &.show {
                .modal-dialog {
                    left: 0;
                }
            }
        }
    }
    // Fade in right
    &.right {
        &.fade {
            .modal-dialog {
                right: -300px;
                @include transition(opacity 0.3s linear, right 0.3s ease-out);
            }

            &.show {
                .modal-dialog {
                    right: 0;
                }
            }
        }
    }

    &.left,
    &.right {
        .modal-content {
            border-radius: 0;
            height: auto;
            height: 100vh;

            .modal-body {
                overflow-y: auto;
            }
        }
    }
}