main {
    .news {
        .news-item-wrapper {
            margin-bottom: 33px;

            .news-item {
                border-radius: 4px;
                @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);
                position: relative;
                z-index: 15;

                &:hover {
                    @include transform(scale(1.03));
                    z-index: 16;
                }

                .news-item-image {
                    a {
                        display: block;
                        position: relative;

                        &:hover + .news-item-image-button {
                            display: block !important;
                        }

                        .news-item-image-button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                            color: $white;
                            text-transform: uppercase;
                            border: 1px solid $white;
                            border-radius: 21px;
                            padding-left: 20px;
                            padding-right: 20px;
                            height: 45px;
                            line-height: 45px;
                            //display: none;
                        }

                        img {
                            border-radius: 4px; // 4px 4px 0 0;
                            object-fit: cover;
                            width: 100%;
                            height: 200px;
                            @include transition(filter 0.2s ease-in-out);
                        }
                    }
                }

                .news-item-title {
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 15px;

                    a {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        color: $dark-green;
                        display: block;

                        &:hover {
                            text-decoration: none;
                            color: $green;
                        }
                    }
                }

                .news-item-date {
                    color: $gray;
                    font-size: 14px;
                    padding: 10px 37px 0;
                    background-image: url("../img/icons/clock.svg");
                    background-repeat: no-repeat;
                    background-position: 15px 13px;
                }

                .news-item-button {}
            }
        }
    }
}