.meta-omadused {
    .omadused-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 55%;

        .omadused-list-item {
            display: flex;

            .omadused-list-item-key {
                font-weight: bold;
                padding-right: 15px;
            }

            .omadused-list-item-value {
                margin-left: auto;
            }
        }
    }
}