main {
    .products {
        .product-wrapper {
            margin-bottom: 33px;

            .product {
                // border: 1px solid red;
                //padding: 15px;
                border-radius: 4px;
                background-color: rgba($white, 0.4);
                @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);
                position: relative;
                z-index: 15;

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 15px rgba($black, 0.2);
                    @include transform(scale(1.03));
                    z-index: 16;
                }

                .product-image {
                    img {
                        border-radius: 4px; // 4px 4px 0 0;
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                    }
                }

                .product-title {
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 10px;

                    a {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        color: $dark-green;

                        &:hover {
                            text-decoration: none;
                            color: $green;
                        }
                    }
                }

                .product-meta {
                    color: $gray;
                    font-size: 14px;
                    padding: 8px 15px 0;
                    font-style: italic;
                }

                .product-price {
                    padding: 8px 15px 0;
                    text-align: center;

                    del {
                        color: $gray;
                        font-size: 23px;
                        padding-right: 10px;

                        * {
                            font-size: 23px;
                            color: $gray;
                        }
                    }

                    bdi,
                    ins {
                        color: $green;
                        font-size: 23px;
                        text-decoration: none;

                        * {
                            font-size: 23px;
                            color: $green;
                        }
                    }
                }

                .product-button {
                    padding-top: 10px;
                    padding-bottom: 15px;
                    text-align: center;

                    .btn {
                        height: 40px;
                        line-height: 40px;
                        vertical-align: middle;
                        padding: 0 35px 0 55px;
                        margin: 0;
                        border: 2px solid $green;
                        border-radius: 21px;
                        background-color: none;
                        font-size: 15px;
                        color: $black;
                        background-image: url("../img/icons/cart.svg");
                        background-position: 15px center;
                        background-repeat: no-repeat;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba($green, 0.1);
                        }

                        &:focus {
                            box-shadow: none !important;
                            outline: inherit;
                        }
                    }
                }

                .product-symbols {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;

                    .symbol-icon {
                        width: 15px;
                        height: 15px;
                        margin-left: 5px !important;
                        margin-right: 5px !important;
                        cursor: help;
                    }
                }
            }
        }
    }
}