li.search-result {
    list-style: none;

    h3 {
        margin-left: 15px;
    }

    .search-result-image {
        max-width: 80px;
        float: left;
        margin-left: 15px;
    }

    .search-result-more-link {
        color: $green;
    }
}

.search-results {
    list-style: none;

    .search-result {
        list-style: none;

        h3 {
            margin-left: 0;
        }

        .search-result-image {
            max-width: 80px;
            float: left;
            margin-left: 0;
        }

        .search-result-more-link {
            color: $green;
        }
    }
}