.species-menu-link {
    width: 45px;
    height: 45px;
    background-color: rgba($gray, 0.10);
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);

    &:hover {
        background-color: rgba($gray, 0.25) !important;
        @include transform(scale(1.10));
    }
}

.single-spiece-img {
    max-width: 350px;
    margin: 0 auto;
    float: right !important;
    margin-left: 25px;
    margin-bottom: 25px;
}

.h1-spieces-alphabet {
    font-size: 45px !important;
}

.species {
    .species-item {
        margin-bottom: 20px;

        .species-item-link {
            .species-item-image {
                img {
                    border-radius: 4px; // 4px 4px 0 0;
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    @include transition(filter 0.2s ease-in-out);

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .species-item-title {
                text-align: center;
                font-size: 18px;
                color: $black;
                padding-top: 12px;
                padding-bottom: 12px;
                margin: 0;

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }

            &:hover {
                color: $green;
                text-decoration: none;
            }
        }
    }
}

.page-numbers-container {
    .page-numbers {
        font-size: 22px;
        color: $dark-green;
        padding: 5px;

        &:hover {
            color: $green;
            text-decoration: none;
        }

        &.dots {
            color: $gray;
        }

        &.current {
            color: $green;
        }
    }
}

.spieces-categories {
    .species-category {
        .species-category-link {
            width: 45px;
            height: 45px;
            background-color: rgba($gray, 0.10);
            line-height: 45px;
            text-align: center;
            vertical-align: middle;
            @include transition(background-color 0.3s ease, box-shadow 0.5s ease, transform 0.15s);

            &:hover {
                background-color: rgba($gray, 0.25) !important;
                @include transform(scale(1.10));
                text-decoration: none;
            }
        }
    }
}