@mixin symbol-icon($icon, $name: null) {
    @if ($name) {
        &.symbol-icon-#{$name} {
            background-image: url("../img/symbols/green/#{$icon}.svg");
        }
    } @else {
        &.symbol-icon-#{$icon} {
            background-image: url("../img/symbols/green/#{$icon}.svg");
        }
    }
}

.symbol-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    @include symbol-icon("paikseline-kasvukoht");
    @include symbol-icon("poolvarjuline-kasvukoht");
    @include symbol-icon("varjuline-kasvukoht");
    @include symbol-icon("kuivale-pinnasele");
    @include symbol-icon("parasniiskele-pinnasele");
    @include symbol-icon("niiskele-pinnasele");
    @include symbol-icon("sobib-loikelilleks");
    @include symbol-icon("lohnavad-oied-voi-lehestik");
    @include symbol-icon("sobib-potitaimeks");
    @include symbol-icon("sobib-amplisse");
    @include symbol-icon("patenteeritud-sort");
    @include symbol-icon("lehtdekoratiivne");
    @include symbol-icon("putukaid-meelitav");
    @include symbol-icon("mittesoodav");
    @include symbol-icon("lohnavad-oied-voi-lehestik", "lohnav-taim");
    @include symbol-icon("paikseline-kasvukoht", "paikeselisele-kasvukohale");
    @include symbol-icon("poolvarjuline-kasvukoht", "poolvarjulisele-kasvukohale");
    @include symbol-icon("varjuline-kasvukoht", "taisvarjulisele-kasvukohale");
}