// Symbols modal

.symbols {
    .symbols-modal {
        &.modal {
            .modal-content {
                border-radius: 0;
                border: none;
                padding: 0 !important;
            }

            .modal-header {
                background-color: $green;
                border: none;

                .modal-title {
                    color: $white;
                    text-transform: uppercase;
                    font-size: 16px;
                }

                .close {
                    span {
                        font-size: 25px;
                    }
                }
            }

            .modal-body {
                background-color: $white;
                padding-bottom: 100px;

                .symbols-list {
                    list-style: none;
                    padding: 5px 5px 0 0;
                    margin: 0;

                    li {
                        padding: 7px 0;

                        div {
                            width: 50px;
                            text-align: center;

                            .symbol-icon {
                                height: 22px;

                                &.ampel {
                                    height: 25px;
                                }
                            }
                            /* img {
                                height: 22px;

                                &.ampel {
                                    height: 25px;
                                }
                            } */
                        }
                    }
                }
            }
        }
    }

    .btn-symbols-modal {
        $width: 190px;
        $height: 45px;
        $right: -1 * (($width - $height) / 2);
        $top_height: $height / 2;
        width: $width;
        height: $height;
        line-height: $height;
        right: $right;
        top: calc(50% - #{$top_height});
        position: fixed;
        background-color: $green;
        color: $white;
        text-transform: uppercase;
        border-radius: 0 0 5px 5px;
        vertical-align: middle;
        padding: 0 33px 0 15px;
        font-size: 15px;
        @include transform(rotate(90deg));
        @include transition(box-shadow 300ms ease, background-color 300ms ease);
        border: none;
        z-index: 1000;

        &.btn-symbols-modal-en,
        &.btn-symbols-modal-ru {
            padding: 0 15px 0 10px;
            font-size: 12.5px;
            white-space: nowrap;

            span {
                img {
                    margin-right: 5px;
                }
            }
        }

        &.btn-symbols-modal-en {
            font-size: 11.5px;
        }

        span {
            img {
                @include transform(rotate(-90deg));
                margin-bottom: 4px;
                margin-right: 17px;
            }
        }

        &:hover {
            background-color: $dark-green2;
            box-shadow: 5px 5px 20px 0 rgba($dark-green2, 0.25);
            border: none;
            color: $white;
        }

        &:focus {
            border: none;
            box-shadow: none;
        }
    }
}
/*
<div style="-webkit-writing-mode: vertical-lr; align-items: center; background-color: rgba(0, 0, 0, 0.3); display: flex; justify-content: center; padding: 8px; position: absolute; right: 0px; top: 50%; transform: translate(0px, -50%); writing-mode: vertical-lr;">Feedback</div>
 */