.tooltip-inner {
    background-color: $green;
    padding: 7px 20px;
    font-size: 16px;
    box-shadow: 2px 2px 6px 0 rgba($black, 0.15);
}

.tooltip.show {
    opacity: 1;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: $green !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $green !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $green !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: $green !important;
}
/*
 *Animation
 */
.tooltip {
    position: relative;
}

.tooltip:after,
.tooltip:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,.75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 20px;
    width: 0;
}

.tooltip:before {
    background: rgba(0,0,0,.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
}
/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
    transform: translate3d(0,-10px,0);
    transition: all 0.15s ease-in-out;
}

.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
}
/* expand */
.tooltip.expand:before {
    transform: scale3d(.2,.2,1);
    transition: all 0.2s ease-in-out;
}

.tooltip.expand:after {
    transform: translate3d(0,6px,0);
    transition: all 0.1s ease-in-out;
}

.tooltip.expand:hover:after,
.tooltip.expand:hover:before {
    opacity: 1;
    transform: scale3d(1,1,1);
}

.tooltip.expand:hover:after {
    transition: all 0.2s 0.1s ease-in-out;
}
/* swing */
.tooltip.swing:after,
.tooltip.swing:before {
    transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
    transform-origin: 0 0;
    transition: transform 0.15s ease-in-out, opacity 0.2s;
}

.tooltip.swing:after {
    transform: translate3d(0,60px,0);
    transition: transform 0.15s ease-in-out, opacity 0.2s;
}

.tooltip.swing:hover:after,
.tooltip.swing:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}