// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    header {
        .header-bar {
            .info-bar {
                .info-bar-icons {
                    .info-bar-icon-clock,
                    .info-bar-icon-email,
                    .info-bar-icon-phone {
                        padding-left: 20px;
                        padding-right: 10px;
                        font-size: 11.5px;

                        * {
                            font-size: 11.5px;
                        }
                    }
                }
            }

            .main-bar {
                height: 70px;

                .navbar-brand {
                    img {
                        height: 45px;
                    }
                }

                .header-search-bar {
                    .header-search-bar-btn {
                        width: 61px;
                        border-radius: 21px;
                        background-color: $light-gray;
                        border: none;
                    }
                }
            }

            .menu-bar {
                height: 50px;
                background-color: $dark-green;
            }
        }

        .header-image-bar {
            //margin-top: calc(35px + 70px + 50px) !important;
            height: 400px;

            .carousel {
                .carousel-indicators {
                    bottom: 0;
                }

                .carousel-inner {
                    .carousel-item {
                        img {
                            width: auto;
                            height: 400px;
                            object-position: 25% 0;

                            &.slide-3 {
                                object-fit: cover;
                                object-position: 0 0;
                            }
                        }

                        .carousel-caption {
                            width: auto;

                            .carousel-caption-content {
                                width: 100%;

                                h1, h5 {
                                    font-size: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            &.section-overlap {
                margin-top: 0;
                padding-top: 50px;
            }

            &.section-overlap-bg {
                border-radius: 0;
            }
        }

        &.first-page-content {
            section {
                &.section-about {
                    position: inherit;
                    margin-top: auto;

                    .section-about-item {
                        &.section-about-item-border {
                            border: 0;
                            border-top: 1px solid rgba($gray, 0.2);
                            border-bottom: 1px solid rgba($gray, 0.2);
                        }
                    }
                }
            }
        }

        &.page-content {
            section {
                &.section-text {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        .single-spiece-img {
            width: 100%;
            max-width: none;
            margin-bottom: 25px;
        }
    }

    footer {
        background-position: 25% 100%;

        .footer-top {
            padding-left: 25px;
            padding-right: 25px;

            .footer-company {
                background-image: url("../img/background/footer-bottom.svg");
                background-position: 20% 5%;
                background-repeat: no-repeat;
            }

            .footer-menu {
                background-image: url("../img/background/footer-bottom.svg");
                background-position: 70% 80%;
                background-repeat: no-repeat;
            }
        }
    }
}